body{background-color:#237986;
    color:white;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-style: italic;
}
h2{
    letter-spacing: 10px;
}
h3{
    text-decoration: underline;
}
